$breakpoint: 750px;

* {
	font-family: 'Droid Sans Mono';
	color: #222;
	box-sizing: border-box;
}

body {
	margin: 0;
}

ul, li {
	list-style: none;
	padding: 0;
}

.pointer {
  cursor: pointer;
}

.red {
	color: red;
}