#chat {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba($color: white, $alpha: 0.8);
    z-index: 30;
    border: solid 1px #333;
    border-left: solid 2px #333;
    #chat-header {
        padding: 6px;
        border-bottom: solid 1px #333;
    }
    #chat-body {
        padding: 6px;
        .chat-message {
            font-size: 0.75em;
        }
    }
    #chat-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 6px;
        border-top: solid 1px #333;
        input {
            width: 100%;
            background: none;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
}