#chat-wrapper {
    overflow: scroll;
    width: 100%;
    max-width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba($color: white, $alpha: 0.8);
    z-index: 30;
    border-left: solid 1px #333;
    transition: all 0.5s;
    #chat {
        position: relative;
    }
    #chat-header {
        padding: 0.4em;
        position: fixed;
        width: 100%;
        border-bottom: solid 1px #333;
        background: white;;
        #chat-close {
            cursor: pointer;
            position: relative;
        }
    }
    #chat-enter-username {
        padding: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        input {
            border: none;
            border-bottom: solid 1px #333;
            background: none;
            &:focus {
                outline: none;
            }
        }
    }
    #chat-body {        
        padding: 2.5em 6px;
        overflow: scroll;
        .chat-message {
            font-size: 0.75em;
            .highlight {
                color: red;
            }
        }
        .end-of-messages {
            font-size: 0.75em;
            font-style: italic;
            color: #666;
        }
    }
    #chat-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 6px;
        border-top: solid 1px #333;
        background: white;
        input {
            width: 100%;
            background: none;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
}