.episodes-grid {
    display: flex;
    flex-wrap: wrap;
    .episode-wrapper {
        width: 33.33%;
        min-width: 33.33%;
        box-sizing: border-box;
        padding: 6px;
        margin-bottom: 0.5em;
        @media (max-width: $medium-breakpoint) {
            width: 50%;
            min-width: 50%;
        }
        @media (max-width: $small-breakpoint) {
            width: 100%;
            min-width: 100%;
        }
        .episode-inner-wrapper {
            overflow: hidden;
        }
    }
    .episode {
        cursor: pointer;
        position: relative;
        .episode-image {
            padding-top: 80%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .play-button {

            height: 40px;
            width: 60px;
            background: rgba(255, 255, 255, 0.4);
        }
    }
    .episode-content {
        padding: 4px;
        .ep-grid-header {
            cursor: pointer;
        }
        .tags {
            margin-top: 0.15em;
            .tag-pill {
                font-size: 0.75em;
                cursor: pointer;
                display: inline-block;
                margin-right: 1em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.show-more-button {
    text-align: center;
    margin-top: 2em;
    span {
        cursor: pointer;
        border: solid 1px #222;
        font-size: 1.5em;
        padding: 0.5em;
    }
}

.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(6px);
    filter: blur(6px);
}