.episodes-grid {
    display: flex;
    flex-wrap: wrap;
    .episode-wrapper {
        cursor: pointer;
        width: 33.33%;
        min-width: 33.33%;
        box-sizing: border-box;
        padding: 6px;
        @media (max-width: $medium-breakpoint) {
            width: 50%;
            min-width: 50%;
        }
        @media (max-width: $small-breakpoint) {
            width: 100%;
            min-width: 100%;
        }
    }
    .episode-image {
        padding-top: 80%;
        width: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .play-button {
            height: 40px;
            width: 60px;
            background: rgba(255, 255, 255, 0.4);
        }
    }
    .episode-content {
        background: #222;
        padding: 4px;
        color: white;
        * {
            color: white;
        }
        .tags {
            margin-top: 0.5em;
            .tag-pill {
                font-size: 0.75em;
                color: white;
                cursor: pointer;
                display: inline-block;
                margin-right: 1em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.show-more-button {
    text-align: center;
    margin-top: 2em;
    span {
        cursor: pointer;
        border: solid 2px #222;
        font-size: 1.5em;
        padding: 0.5em;
    }
}