@keyframes progress-countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        opacity: 0;
        .slider-circles {
            margin-top: 0.5em;
            cursor: initial;
            span {
                cursor: pointer;
                width: 1em;
                height: 1em;
                margin-right: 0.5em;
                background: white;
                display: inline-block;
                border-radius: 50%;
                &.selected {
                    background-color: red;
                }
            }
        }
    }
    .selected {
        opacity: 1;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        cursor: pointer;
        width: 2em;
        height: 2em;
        background: rgba($color: #000000, $alpha: 0.7);
        border-radius: 50%;
        &:hover {
            background: rgba($color: #000000, $alpha: 0.8);
        }
        img {
            padding: 0.5em;
            height: 2em;
        }
    }
    .prev {
        left: 1em;
    }
    .next {
        right: 1em;
    }
    .go-to-episode {
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
        z-index: 20;
        bottom: 0.75em;
        right: 0.75em;
        padding: 8px;
        background: red;
        color: white;
        img {
            height: 0.75em;
        }
        @media (max-width: $small-breakpoint) {
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}