#episodes {
    #current-episode {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-bottom: solid 1px black;
    }
}

.episode-info {
    width: 100%;
    max-width: 800px;
    margin: 4em auto;
    padding: 8px;
    .tag {
        cursor: pointer;
        display: inline-block;
        margin-right: 1em;
        &:hover {
            text-decoration: underline;
        }
    }
}