
#live {
    background-image: url('/assets/images/itr-gif.gif');
    background-position: center;
    background-size: cover;
}

#recent-episodes-container {
    padding: 1em;
    .sub-header {
        font-size: 2em;
        padding: 6px;
    }
}

#donations-cta {
    position: absolute;
    bottom: 4em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: white;
    color: red;
    padding: 1em;
    @media (min-width: 500px) {
        bottom: 3em;
    }
    a {
        color: red;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    #down-arrow {
        font-size: 4em;
        color: red;
        position: absolute;
        top: -1em;
        left: 50%;
        transform: translateX(-50%);
    }
}