
#live {
    background-image: url('/assets/images/itr-gif.gif');
    background-position: center;
    background-size: cover;
}

#recent-episodes-container {
    padding: 1em;
    .sub-header {
        font-size: 2em;
        padding: 6px;
    }
}