.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 22;
    overflow: scroll;
    .content {
        padding: 2em;
        background: #f0f0f0;
        position: relative;
        margin: 4em auto;
        width: 96%;
        max-width: 800px;
        height: auto;
        img#icon-close {
            cursor: pointer;
            height: 1.5em;
        }
    }
}

#search-modal {
    ul {
        margin-top: 1em;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}