.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 22;
    overflow: scroll;
    .content {
        padding: 2em;
        background: #f0f0f0;
        position: absolute;
        margin: 2em auto;
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        max-width: 800px;
        height: auto;
        @media (max-width: $small-breakpoint) {
            margin-top: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: translateX(0);
            margin: 0;
            width: 100%;
        }
        img#icon-close {
            cursor: pointer;
            height: 1.5em;
            margin-bottom: 1em;
        }
        a {
            display: inline-block;
        }
    }
}

#search-modal {
    h1 {
        text-align: left;
    }
    ul {
        margin-top: 1em;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#subscribe-modal {
    input[type="submit"] {
        background: white;
        border: solid 1px #222;
        border-radius: 0;
    }
}