#nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: block;
  z-index: 11;
  font-size: 2em;
  margin-bottom: 5em;
  h1 {
    margin: 0;
    a {
      text-decoration: none;
    }
  }
  ul {
    li {
      span {
        cursor: pointer;
        a {
          text-decoration: none;
        }
      }
    }
  }
}