#nav {
    position: absolute;
    z-index: 10;
    width: 100%;
    .top {
        * {
            color: white;
        }
        padding: 0.5em;
        background: #222;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 0;
                display: inline;
                margin-right: 0.75em;
                a {
                    text-decoration: none;
                }
                &#mobile-trigger {
                    .header__menu-toggle__icon {
                        height: 1.5em;
                        float: right;
                    }
                    @media (min-width: $small-breakpoint + 1) {
                        display: none;
                    }
                }
            }
        }
    }
    .bottom {
        position: relative;
        ::placeholder {
            color: #222;
            opacity: 1;
        }
        input {
            font-size: 1em;
            width: 100%;
            border: none;
            padding: 0.5em;
            padding-left: 2em;
            background: white;
            border-bottom: solid 1px#222;
            &:focus {
                outline: none;
            }
        }
        img.icon {
            position: absolute;
            height: 1em;
            top: 0.6em;
            left: 0.5em;
        }
    }
    @media (max-width: $small-breakpoint) {
        .desktop-nav-item {
            display: none;
        }
    }
}

ul#mobile-nav {
    z-index: 22;
    background: #222;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    text-align: right;
    vertical-align: bottom;
    li {
        font-size: 2em;
        * {
            color: white;
        }
        img#icon-close {
            height: 1em;
            margin-bottom: 0.5em;
            cursor: pointer;
        }
        span {
            &:hover {
                text-decoration: underline;
            }
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        display: block;
    }
}