#play-button-container {
	width: 200px;
	text-align: center;
	height: 200px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 5;
}

#play-button {
	height:200px;
	width: 200px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	outline:none;
	cursor: pointer;
}

.play {
	background: rgba(0, 0, 0, 0);
	background-image: url('/assets/images/play.png');
}

.pause {
	background: rgba(0, 0, 0, 0);
	background-image: url('/assets/images/pause.png');
}