#recent-episodes {
    background: #333;
    padding: 2em 1em;
    h3 {
        font-size: 2em;
        text-align: center;
    }
    * {
        color: white;
    }

    #recent-episodes-list {
        margin: 2em auto;
    }

    .recent-episode-container {
        display: inline-block;
        position: relative;
        width: 33%;
        @media (max-width: $breakpoint) {
            width: 50%;
        }
        @media (max-width: $small-breakpoint) {
            width: 100%;
        }
        .recent-episode-wrapper {
            margin-top: 75%;
            .recent-episode {
                padding: 4px;
                position: absolute;
                width: 97%;
                height: 98%;
                top: 0;
                left: 3%;
                background-position: center;
                background-size: cover;
                cursor: pointer;
                .recent-episode-content {
                    transition: all 0.25s;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: red;
                    color: white;
                    @media (max-width: $breakpoint) {
                        opacity: 1;
                        font-size: 1em;
                        height: 2.75em;
                    }
                    div {
                        font-size: 1.5em;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: skew(-3deg, -3deg) translate(-50%, -55%);
                        @media (max-width: $breakpoint) {
                            opacity: 1;
                            font-size: 1em;
                            transform: none;
                            top: 0;
                            left: 4px;
                        }
                    }
                }
                &:hover .recent-episode-content {
                    opacity: 1;
                }
            }
        }
    }

    #all-episodes-button {
        margin: 1em 0;
        text-align: center;
        a {
            text-decoration: none;
            padding: 1em;
            border: solid 2px white;
        }
    }
}