#subscription-form {
    margin-top: 1em;
    input {
        padding: 4px;
        font-size: 0.75em;
        margin-right: 0.75em;
    }
    input[type='submit'] {
        color: #222;
        border: solid 1px #222;
        background: white;
        border-radius: 0;
    }
}

#subscription-form form label,
.a9842jhmk, 
.aujs8787s {
    display: none;
}