DEBUG=True
SECRET_KEY=super-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173  # Vite dev server
CSRF_TRUSTED_ORIGINS=https://something.introtorhythm.com # as an example
INTERNAL_API_KEY=your-long-random-secret-here
EZSTREAM_PASSWORD=password