@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

/* color palette */
:root {
  --color-dark1: #1e2126;
  --color-dark-2: #333;
  --color-dark-3: #4A4D51;
  --color-lightgray: lightgray;
  --color-red: red;
  --color-orange: orange;
}

/* padding and margins */
:root {
  --padding: 16px;
  --nav-height: 110px;
  --container-height: calc(100vh - var(--nav-height));
}

/* fonts */
:root {
  --font-family: 'Roboto Mono', monospace;
  --font-family-2: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
