/* ------------------------------------- Home */
* {
	font-family: 'Droid Sans Mono';
	color: #222;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
}

.pointer {
  cursor: pointer;
}

/* ------------------------------------- Navigation */
#nav {
	width: 320px;
	max-width: 100%;
	border-right: solid 1px #222;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em 1em;
	z-index: 11;
	overflow-y: scroll;
}

#nav ul {
	margin-bottom: 4em;
}

#nav ul li {
	margin: 0.5em 0;
}

#nav ul li a {
	text-decoration: none;
	color: inherit;
}

.red {
	color: red;
}

#mobile-nav-toggle {
  position: absolute;
  font-size: 3em;
  z-index: 12;
}

#menu-container {
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 750px) {
  #nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
  }
  #nav ul {
    margin-top: 4em;
  }
}

/* ------------------------------------- Subscription Form */
#subscription-form {
    margin-top: 1em;
}

#subscription-form form label,
.a9842jhmk, 
.aujs8787s {
    display: none;
}

#subscription-form input {
    padding: 4px;
    font-size: 0.75em;
    margin-right: 0.75em;
}

#subscription-form input[type='submit'] {
    color: #222;
    border: solid 1px #222;
    background: white;
    border-radius: 0;
}

/* ---------------------------------------- Background Image */
#background-image {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
    z-index: 1;
}

#brighten {
    display: block;
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	background-size: cover;
	background-position: center;
	z-index: 2;
}

/* ----------------------------------- Play Button */
#play-button-container {
	width: 200px;
	text-align: center;
	height: 200px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 5;
}

#play-button {
	height:200px;
	width: 200px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	outline:none;
	cursor: pointer;
}

.play {
	background: rgba(0, 0, 0, 0);
	background-image: url('/static/images/play.png');
}

.pause {
	background: rgba(0, 0, 0, 0);
	background-image: url('/static/images/pause.png');
}

/* ---------------------------------------- Modals */
#modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 15;
	overflow-y: scroll;
}

.modal-content {
	width: 96%;
	max-width: 900px;
	display: block;
	margin: 4em auto 8em auto;
	border: solid 1px white;
	padding: 2em;
	background: rgba(0, 0, 0, 0.5);
}

.modal-content * {
	color: white !important;
}

.modal-content .content {
    margin-top: 1em;
}

#close {
    height: 1.5em;
}

/* ---------------------------------------- Player */
#player {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 3em;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 14;
}

#audioplayer {
	width: 100%;
	height: 3em;
}

#timeline {
	width: 100%;
	height: 3em;
	border-top: solid 1px black;
	background: rgba(255,255,255,1);
}

#playhead {
	width: 10px;
	height: 3em;
	background: rgba(0, 0, 0, 1);
	cursor: ew-resize;
}

/* -------------------------------------------- Archive */

#archive {
	margin: 2em 1em;
}
#archive a {
	text-decoration: none;
}
#archive a:hover {
	text-decoration: underline;
}
.tab-1 {
	margin-left: 2em;
}
.tab-2 {
	margin-left: 4em;
}
.tab-3 {
	margin-left: 6em;
}
#archive div,
#archive li {
	margin-bottom: 8px;
}