/* ------------------------------------- Home */
* {
	font-family: 'Droid Sans Mono';
	color: #222;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
}

.pointer {
  cursor: pointer;
}

/* ------------------------------------- Navigation */
#nav {
	width: 320px;
	max-width: 100%;
	border-right: solid 1px #222;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em 1em;
	z-index: 11;
	overflow-y: scroll;
}

#nav ul {
	margin-bottom: 4em;
}

#nav ul li {
	margin: 0.5em 0;
}

#nav ul li a {
	text-decoration: none;
	color: inherit;
}

.red {
	color: red;
}

#mobile-nav-toggle {
  position: absolute;
  font-size: 3em;
  z-index: 12;
}

#menu-container {
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 750px) {
  #nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
  }
  #nav ul {
    margin-top: 4em;
  }
}

/* ------------------------------------- Subscription Form */
#subscription-form {
    margin-top: 1em;
}

#subscription-form form label,
.a9842jhmk, 
.aujs8787s {
    display: none;
}

#subscription-form input {
    padding: 4px;
    font-size: 0.75em;
    margin-right: 0.75em;
}

#subscription-form input[type='submit'] {
    color: #222;
    border: solid 1px #222;
    background: white;
    border-radius: 0;
}