* {
	font-family: 'Droid Sans Mono';
	color: #222;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
}

#nav {
	width: 320px;
	max-width: 100%;
	border-right: solid 1px #222;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em 1em;
	z-index: 3;
	overflow-y: scroll;
}

#nav ul {
	margin-bottom: 4em;
}

#nav ul li {
	margin: 0.5em 0;
}

#nav ul li a,
#archive ul li a {
	text-decoration: none;
	color: inherit;
}

#archive ul li a:hover {
	text-decoration: underline;
}

#archive ul li.pad-2 {
	margin-left: 2em;
}

#archive ul li.pad-4 {
	margin-left: 4em;
}

#archive ul li.pad-6 {
	margin-left: 6em;
}

#nav ul li a.active,
#nav ul li span.see-info {
    color: red;
}

#subscription-form-wrapper {
	margin-top: 1.5em;
}

#subscription-form input {
	font-size: 0.75em;
	padding: 4px;
}

#subscription-form input[type='submit'] {
	font-size: 0.75em;
	color: #222;
	border: solid 1px #222;
	background: white;
	border-radius: 0;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 8;
	overflow-y: scroll;
}

.modal .modal-content {
	width: 96%;
	max-width: 900px;
	display: block;
	margin: 4em auto 8em auto;
	border: solid 1px white;
	padding: 2em;
	background: rgba(0, 0, 0, 0.5);
}

.modal .modal-content p {
	color: white;
}

.pointer {
	cursor: pointer;
}

#episode-image {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-position: center;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#filter-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(255, 255, 255, 0.2);
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	z-index: 2;
}