* {
    font-family: 'Droid Sans Mono' !important;
}
.module table caption {
    background-color: #222;
    color: white;
}

#header {
    background: #222;
}
#header, #header h1 {
    color: white;
}