<html>
	<head>
	</head>
	<body style="font-family:monospace;font-size:16px;">
		<div>
            <h1>Booking Request</h1>

            <hr>

            <strong>Name</strong><br>
            {{ name }}
            <br><br>

            <strong>DJ/ Artist Name</strong><br>
            {{ djName }}
            <br><br>

            <strong>Email</strong><br>
            {{ email }}
            <br><br>

            <strong>Tell us about yourself/ your music/ your show proposal</strong><br>
            {{ proposal }}
            <br><br>

            <strong>Anything else you'd like us to know? Links, socials, etc.</strong><br>
            {{ additional }}
		</div>
	</body>
</html>