#booking {
    padding: 2em 1em;

    #booking-form {
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    #booking-success {
        font-size: 2em;
        text-align: center;margin-top: 1em;
    }
}