#chat {
    z-index: 1000;
    position: absolute;
    overflow: scroll;

    .new-user {
        padding: 2em;
        width: 100%;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .new-user-form {
            font-size: 2em;
            text-align: center;

            input {
                font-size: 1em;
                margin: 1em auto;
                padding: 0.5em;
                background: none;
                border: none;
                border-bottom: solid 2px white;
                width: 100%;
                outline: none;
            }

            button {
                font-size: 1em;
                width: 100%;
                background: none;
                border: none;
                padding: 0.25em;
                border: solid 2px white;
                border-radius: 0;
                cursor: pointer;
            }
        }
    }

    #messages {
        width: 100%;
        padding: 1em;
        padding-bottom: 100px;

        .message {
            margin-bottom: 8px;

            &.itr {
                color: #eed202 !important;
                * {
                    color: #eed202 !important;
                }
            }

            .time-stamp {
                font-size: 0.74em;
                margin-right: 12px;
            }

            .username.me {
                color: $color-accent;
            }
        }
    }

    #message-input {
        position: fixed;
        z-index: 100;;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        height: 4em;

        input {
            width: calc(100% - 120px);
            height: 100%;
            font-size: 2em;
            padding: 1em 0.5em;
            border: none;
            outline: none;
            color: $color1;;
        }

        button {
            position: absolute;
            right: 0;
            width: 110px;
            height: 100%;
            vertical-align: bottom;
            background: $color-accent;
            border: none;
            cursor: pointer;
            border-radius: 0;
        }
    }
}