#footer {
    display: none;
    position: relative;
    width: 100%;
    height: 160px;
    background: $color1;
    border-top: solid 2px $color3;

    &.absolute {
        position: absolute;
        top: 100%;
        left: 0;
    }

    ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;


        li {
            display: inline-block;
            margin: 0 1em;
        }
    }
}