.input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type="text"],
    textarea,
    button {
        font-size: 16px;
        padding: 10px;
        width: 100%;
        border: solid 1px white;
        background: none;

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 200px;
    }

    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .checkmark {
                background-color: red;

                &:after {
                    display: block;
                }
            }
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: none;
            border: solid 1px white;

            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 8px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    .text-area-count {
        display: block;
        text-align: right;
    }

    button {
        margin: 1em 0;
        padding: 1em;
        cursor: pointer;
        transition: background 0.25s;

        &:hover {
            background: rgba($color: #fff, $alpha: 0.05);
        }
    }

    @include mobile {
        width: 100%;
        display: block;
    }

    .col100 {
        width: 100%;
    }

    .col75 {
        width: calc(75% - 8px);

        @include mobile {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .col66 {
        width: calc(66%);

        @include mobile {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .col50 {
        width: calc(50% - 8px);

        @include mobile {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .col33 {
      width: calc(33% - 8px);

        @include mobile {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .col25 {
        width: calc(25% - 8px);

        @include mobile {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}

.errors {
    color: red;
}