#info {
    position: absolute;
    top: 100%;
    width: 100%;
    background: orange;
    padding-bottom: 4em;

    #info-wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 1em auto;
    }

    #arrow {
        font-size: 4em;
    }

    input#donate {
        border: solid 2px #333;
        padding: 10px 22px;
        color: #333;
        font-size: 2em;
        background: orange;
        cursor: pointer;
    }
}