#live {

    #live-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #circle {
            font-size: 1.25em;
            font-family: $font-family-secondary;
            text-transform: uppercase;
        }
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 84px));
    }

    .marquee-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .marquee {
            background: orange;

            * {
                font-size: 5em;
                color: #333;
            }
        }
    }
}