#live {

    #live-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #circle {
            font-size: 1.25em;
            font-family: $font-family-secondary;
            text-transform: uppercase;
        }
    }

    #logo {
        height: 6em;
        position: relative;
        top: 8px;
        left: 8px;
        z-index: 3;
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .marquee-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .marquee {
            background: rgba($color: #000, $alpha: 0.5);

            * {
                font-size: 2em;
                color: yellow;
            }

            @media screen and (max-width: $phone-width) {
                * {
                    font-size: 1.5em;
                }
            }
        }
    }
}