#nav {
    position: relative;
    z-index: 1000;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 0.75em;
        }
    }

    #nav-top {
        padding: $padding;
        margin: 0.5em 0;
        font-size: 1em;

        @media screen and (max-width: $phone-width) {
            margin: 0;
        }
    }

    #nav-bottom  {
        border-bottom: solid 2px $color3;
        padding-left: $padding;
        padding-right: $padding;

        .nav-tab {
            font-size: 1em;
            display: inline-block;
            border: solid 1px $color3;
            border-bottom: none;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            padding: 8px 12px;
            margin-right: 8px;
            cursor: pointer;
            transition: all 0.25s;

            &.active {
                background: $color3;
                color: $color1;
            }

            @media screen and (max-width: $phone-width) {
                font-size: 0.8em;
                border-radius: 0px;
                border: none;
                margin: 8px;
                padding: 0;

                &:first-child {
                    margin-left: 0;
                }

                &.active {
                    background: $color1;
                    color: red;
                }
            }
        }
    }
    
    #chat-nav {
        font-size: 12px;
        width: 100%;
        height: auto;
        background: $color3;
        padding: 0.5em 1em;

        * {
            color: $color1;
        }

        section {
            display: inline-block;
            color: $color1;
            margin-right: 6px;
        }


        .username.me {
            color: $color-accent;
        }

        .logout {
            color: $color1;
            cursor: pointer;
        }
    }
}