#schedule {
    padding: 2em 1em;

    #schedule-wrapper {
        width: 100%;
        max-width: 800px;
        margin: auto;

        #schedule-card-list {
            margin: 2em 0;

            .schedule-card {
                margin: 1em 0;
            }
        }
    }
}