#timeline {

    position: relative;
    width: 100%;
    height: 3.25em;
    border-top: solid 2px $color1;
    border-bottom: solid 2px $color1;
    background: white;

    #playhead {
        position: absolute;
        height: 100%;
        width: 10px;
        background: $color1;
        cursor: ew-resize;
    }

    .timeline__time {
        color: red;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
    }
}