@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

$color1: rgb(30, 33, 38);
$color1-light: lighten($color1, 20);
$color2: lightgray;
$color3: white;
$color-accent: red;
$color-cta: #eed202;

$padding: 16px;
$nav-height: 110px;
$container-height: calc(100vh - $nav-height);

$font-family: 'Roboto Mono', monospace;
$font-family-secondary: 'Source Sans Pro', sans-serif;